@import './variables';

.DndTabSection {
  max-width: 920px;
  width: 100%;

  &::after {
    display: table;
    clear: both;
  }
}

.AknFormContainer.DndAknFormContainer {
  width: 50%;
  float: left;
}

.AknFieldContainer.DndAknFieldContainer {
  padding: 0 5px 0 5px;
}