<div class="google-grouped-product-detail <% if (data !== null) {%><%- 'is-enriched' %><% } %>" data-block="googleProductDetail" data-block-id="<%- id %>" >
    <h3>
        <%- __('dnd_google_manufacturer.export.product.google.grouped.product_detail.title') %>
    </h3>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleProductDetailSectionName_<%- id %>" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.product_detail.section_name') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden"
                   name="googleProductDetailSectionName_<%- id %>"
                   id="googleProductDetailSectionName_<%- id %>"
                   class="select-field on-initialize"
                   data-google="googleProductDetailSectionName"
                   data-google-value="<% if (data) {%><%- data.googleProductDetailSectionName %><% } %>"
            />
        </div>
    </div>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleProductDetailAttributeName_<%- id %>" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.product_detail.attribute_name') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden"
                   name="googleProductDetailAttributeName_<%- id %>"
                   id="googleProductDetailAttributeName_<%- id %>"
                   class="select-field on-initialize"
                   data-google="googleProductDetailAttributeName"
                   data-google-value="<% if (data) {%><%- data.googleProductDetailAttributeName %><% } %>"
            />
        </div>
    </div>
    <div class="AknFieldContainer" data-code="type">
        <div class="AknFieldContainer-header">
            <label for="googleProductDetailAttributeValue_<%- id %>" class="AknFieldContainer-label control-label required">
                <%- __('dnd_google_manufacturer.export.product.google.grouped.product_detail.attribute_value') %>
            </label>
        </div>
        <div class="AknFieldContainer-inputContainer">
            <input type="hidden"
                   name="googleProductDetailAttributeValue_<%- id %>"
                   id="googleProductDetailAttributeValue_<%- id %>"
                   class="select-field on-initialize"
                   data-google="googleProductDetailAttributeValue"
                   data-google-value="<% if (data) {%><%- data.googleProductDetailAttributeValue %><% } %>"
            />
        </div>
    </div>
    <div class="AknButtonList AknButtonList--right">
        <span class="<%- data === null ? ' AknIconButton--ok' : ' AknIconButton--edit' %> AknButtonList-item AknIconButton AknIconButton--round AknIconButton--apply update-row"></span>
        <span class="AknButtonList-item AknIconButton AknIconButton--round AknIconButton--important AknIconButton--remove show-row"></span>
    </div>
</div>