<div class="tabsections">
    <div data-drop-zone="google-mandatory-attributes" class="tabsection"></div>
    <div data-drop-zone="google-optional-attributes" class="tabsection"></div>
    <div data-drop-zone="google-grouped-attributes" class="tabsection"></div>
</div>
